/* Estilos gerais para telas grandes */
.navbar {
    background-color: transparent; /* Transparência na navbar */
    padding: 2rem;
    position: relative;
}

.navbar-nav {
    margin-left: auto;
    margin-right: auto;
    text-align: center; /* Para centralizar os links de navegação */
}

.navbar-brand {
    margin-right: auto; /* Logo alinhado à esquerda */
}

.nav-item .nav-link {
    color: white; /* Cor dos links */
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif; /* Fonte Open Sans */
    font-weight: 700; /* Ajuste o peso conforme necessário */
    margin-right: 2rem; /* Espaçamento entre os links */
}

.nav-item .nav-link:hover {
    color: #1d5f0f; /* Muda a cor ao passar o mouse */
}

.fixed-top {
    position: fixed;
    width: 100%;
    top: 0;
}

/* Estilo para a versão mobile (abaixo de 991px) */
@media (max-width: 991px) {
    .navbar-collapse {
        position: absolute;
        top: 60px; /* Ajusta a distância do topo */
        right: 10px; /* Ajusta a posição à direita */
        background-color: white; /* Cor de fundo para o dropdown */
        border-radius: 8px;
        padding: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ao redor do menu */
    }

    .navbar-toggler {
        border: none; /* Remove a borda do botão de toggle */
    }

    .navbar-toggler-icon {
        color: white;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .nav-item {
        margin: 10px 0;
    }

    .nav-item .nav-link {
        color: black; /* Links em preto no menu colapsado */
        font-size: 1rem;
    }

    .navbar-collapse.show {
        display: block !important; /* Força o dropdown a aparecer */
    }
}
